<div class="col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <h1>Contact</h1>
  </div>
  <div class="center-block">
    <form>
      <div class="form-group">
        <label for="inputUserName">Name</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="Nombre" required>
      </div>
      <div class="form-group">
        <label for="inputUserMail">E-mail</label>
        <input type="email" class="form-control" id="inputUserMail" placeholder="E-mail" required>
      </div>
      <div class="form-group">
        <label for="inputUserMotive">Motive</label>
        <input type="text" class="form-control" id="inputUserMotive" placeholder="Motive" required>
      </div>
      <div class="form-group">
        <label for="textUserMessage">E-mail</label>
        <textarea class="form-control" id="textUserMessage" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
</div>
